* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

.break1 {
  height: 200px;
}

.break2 {
  height: 50px;
}

table {
  margin: auto;
}



td, th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

header { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 10;
  max-height: 120px;
}

footer {
  display: flex;
  align-items: center;
  background: black;
  min-width: 100%;
  min-height: 100%;
}

.codename-div {
  margin-right: auto;
  color: white;
  font-size: 10px;
  margin: 10px;
}

.under {
  border-top: 3px dotted yellow;
  border-bottom: 3px dotted yellow;
  margin: auto;
  padding: 10px;
  color: white;
  font-size: 18px;
}

button, .playbtn {
  margin: 2%;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: white;
  cursor: pointer;
}

.playbtn {
  background-color: white;
  color: black;
  font-size: 30px;
  border: 7px solid black;
}

a, button {
  color: white;
}

.logo {
  height: 6rem;
  margin-right: auto;
  margin: 10px;
}

.dropdown-hover {
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: 14px;
    font-style: italic;
    border: 3px solid white;
    font-weight: 600;
}
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  margin: 10px;
  font-weight: 900;
  font-style: italic;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-hover {
  background-color: #A9A9A9;
  cursor: pointer;
}

.screenshot-title {
  display: flex;
  justify-content: center;
  margin: auto;
}

.images {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image {
  width: 100%;
}

.trailer-title {
  display: flex;
  justify-content: center;
  font-style: italic;
  position: relative;
  text-align: center;
  color: black;
}

.trailer-title-div {
  z-index: -1;
}

.trailer-title-div, .screenshot-title-div, .setlist-title-div, .index-title-div, .index-subtitle-div, .header-title-div, .audio-title, .audio-subtitle, .review-title-div, .footercontent{
  display: flex;
  margin: auto;
  font-weight: 900;
  font-style: italic;
  max-width: fit-content;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  color: black;
}

.audio-subtitle {
  font-weight: 600;
  font-style: normal;
}

.noboot {
  color: white;
  font-size: 10px;
  margin: 10px;
}

.index-title-div {
  font-size: 40px;
  border: 8px solid black;
  padding: 20px;
}

.header-title-div, .nme-review-div, .film-stage-review-div, .spectrum-review-div {
  border: 6px solid white;
  margin: 20px;
  color: white;
  background-color: black;
  font-size: 30px;
  margin-right: auto;
  padding: 5px;
  max-width: fit-content;
}

.nme-review, .film-stage-review, .spectrum-review {
  padding: 20px;
}

.film-stage-review-div {
  margin: auto;
  max-width: fit-content;
}

.spectrum-review-div {
  margin: 20px;
  margin-left: auto;
  max-width: fit-content;
}

.header-title {
  padding: 10px;
}

.screenshot-title-div {
  max-width: fit-content;
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}

.videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropdown-content.open2 {
  display: block
}

.responsiveIcon {
  display: none;
}

.hamline1, .hamline2, .hamline3 {
  display: none;
}

.slide-content {
  display: none;
}

img {
  vertical-align: middle;
}

.carousel-container-div {
  position: relative;
  margin: auto;
  z-index: -1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.audio-button-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filler, .filler2 {
  color: white;
  font-size: 8px;
  padding: 10px;
}

.filler {
  position: absolute;
  max-width: 40%;
}

.fillercontent2{
  max-width: 75%
}

.filler2 {
  margin-right: auto;
}

.footercontent {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  align-content: flex-end;
}

.column {
  float: left;
  width: 23%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  border: 3px solid black;
  font-size: 20px;
  margin: 20px 1%;
  vertical-align: top;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (min-width: 768px) {
  header {
          width: 100%;
          height: fit-content;}
  .under {
          font-size: 12px;}  
  .header-title-div {
          font-size: 20px;
  }
}

@media only screen and (max-width: 1500px) {
  header {
          width: 100%;
          height: fit-content;}
  .under {
          font-size: 8px;}  
  .header-title-div {
          font-size: 15px;
  }
  .dropdown-hover {
    font-size: 10px;
  }
  .dropdown-content {
    font-size: 10px;
  }
  .playbtn {
    font-size: 15px;
  }
  .column {
    display: inline-block;
  }
}

@media only screen and (max-width: 1400px) {
  header {
          width: 100%;
          height: fit-content;}
  .under {
          font-size: 8px;}  
  .header-title-div {
          font-size: 15px;
  }
  .dropdown-hover {
    font-size: 10px;
  }
  .playbtn {
    font-size: 15px;
  }
  .column {
    display: inline-block;
  }
}

@media only screen and (max-width: 1125px) {
 .index-title-div {
   font-size: 30px;
   margin-left: 12%;
 }
}

@media only screen and (max-width: 1100px) {
  header {
          width: 100%;
          height: fit-content;}
  .under {
          font-size: 4px;}  
  .header-title-div {
          font-size: 10px;
  }
  .dropdown-hover {
    font-size: 10px;
  }
  .column {
    font-size: 15px;
  }
  .film-stage-review-div, .spectrum-review-div, .nme-review-div {
    margin: auto;
  }
}

@media only screen and (max-width: 950px) {
  .index-title-div {
    font-size: 20px;
  }
}

@media only screen and (max-width: 930px) {
  .under {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  header {
          width: 100%;
          height: fit-content;}
  .under {
          font-size: 4px;}  
  .header-title-div {
          font-size: 10px;
  } 
  .index-title-div {
    font-size: 20px;
  }
  .column {
    font-size: 10px;
  }
  .codename-div {
    float: left;
  }
  .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: black;
    padding-bottom: 10px;
    display: none;
    overflow: scroll;
    height: calc(100vh - 106px);
    box-sizing: border-box;
  } 
  .links.open{
    display: flex;
    overflow: scroll;
  }
  .dropdown-hover {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin: auto, 10px, 0px, 10px;
    font-size: 15px;
    display: block;
    text-align: center;
  }
  .dropdown-content {
    position: relative;
    display: none;
    font-size: 12px;
    margin-bottom: 0px;
    max-width: 180px;
    margin: auto;
    margin-top: 15px;
  }
  .responsiveIcon {
    display: block;
    padding: 10px;
    float: right;
    max-height: 30px;
    margin-bottom: 10px;
  }
  .responsiveIcon:hover {
    cursor: pointer;
  }
  .hamline1, .hamline2, .hamline3 {
    display: block;
    width: 35px;
    height: 5px;
    background: white;
    margin: 5px;
    transition: 0.5s;
  }
  .change .hamline1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .hamline2 {
    opacity: 0;
  }
  .change .hamline3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media only screen and (max-width: 700px) {
  footer {
    height: 100px;
  }
  .footercontent {
    display: none;
  }
  .codename-div {
    margin: auto;
  }
  .filler {
    font-size: 10px;
    float: right;
    min-width: 65%;
  }
  .codename-div {
    transform: translate(140px);
    font-weight: 900;
  }
  .column {
    float: right;
    width: 40%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 3px solid black;
    font-size: 16px;
    margin: 20px;
    vertical-align: top;
    min-height: 250px;
    max-height: 250px;
  }
}

@media only screen and (max-width: 650px) {
  .index-title {
    font-size: 20px;
  }
  .index-title-div {
    position: relative;
    margin: auto;
  }
  .break1 {
    height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .column {
    float: right;
    width: 35%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: 3px solid black;
    font-size: 16px;
    margin: 20px;
    vertical-align: top;
    min-height: 350px;
  }
}